@use 'sass:color';
@use '../config/colors.scss' as colors;
@use '../utilites/spacing.scss' as spacing;

@mixin e-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(color.adjust(colors.$color-primary, $lightness: -30%), 0.15),
                0 0 0 1px rgba(color.adjust(colors.$color-primary, $lightness: -30%), 0.5);
    margin-bottom: spacing.spacing('normal');
}