{{#> components-container title='List'}}
    <div class="c-list">
        <img src="/images/lacoste.png" alt="t-shert lacoste" class="c-list__media">
        <span class="c-list__data">تي شيرت لاكوست </span>
        <span class="c-list__data">عبدالرحمن المغير</span>
        <span class="c-list__data">المملكة العربية السعودية, المدينة المنورة</span>
        <span class="c-list__data">73$</span>
        <div class="c-list__actions">
            <a href="#" class="c-btn c-btn--slim c-btn--primary">تم الشحن</a>
            <a href="#" class="c-btn c-btn--slim">تواصل</a>
            <a href="#" class="c-btn c-btn--slim c-btn--destructive">حذف الطلب</a>
        </div>
    </div>
{{/components-container}}
    
