
{{#> components-container title='TextField'}}
<div class="c-textfield">
    <label for="normal" class="c-textfield__label">مدخل عادي</label>
    <input type="text" id="normal" class="c-textfield__input" placeholder="ادخل المحتوى" >
</div>

<div class="c-textfield">
    <label for="textarea" class="c-textfield__label">مدخل فقرة</label>
    <textarea id="textarea" class="c-textfield__textarea" placeholder="ادخل المحتوى"></textarea>
    <span class="c-textfield__hint">ملاحظات من اجل المدخل</span>
</div>

{{/components-container}}