<div class="c-table__navigation__arrows">
  <button class="c-btn c-btn--icon"><i
      class="fa-solid fa-arrow-right"
    ></i></button>
  <button class="c-btn c-btn--icon"><i
      class="fa-solid fa-arrow-left"
    ></i></button>
</div>