<header class="c-table__header">
  <h3 class="c-table__title">{{ title }}</h3>
  <div class="c-table__actions">
    {{> @partial-block}}
  </div>

    {{> table-navigation caption=caption}}
  
</header>