@use '../config/variables.scss' as variables;
@use '../config/colors.scss' as colors;
@use '../base/fonts.scss' as fonts;

html{
    box-sizing: border-box;
    direction: rtl;
}

*, 
*::before, 
*::after{
    box-sizing: border-box;
}

body{
    font-size: variables.$font-base;
    line-height: variables.$line-height;
    color: colors.$color-content;
    background-color: colors.$color-background;
    font-family: fonts.$family-content;
}