$color-blue: #071ADB;
$color-blue-dark: #2C369C;

$color-dark: #1a1b1b;

$color-yellow: #DBAD07;
$color-yellow-dark: #8A7427;

$color-red: #DB072D;
$color-red-dark: #5C3138;

$color-brand: $color-blue-dark;
$color-primary: $color-blue;
$color-content: $color-dark;

$color-white: #f8f9ff;
$color-gray: #696969;
$color-background: #f1f2ff;
$color-link: #0a0c79;
