@use 'sass:color';
@use '../utilites/mixin-card.scss' as mixin-card;
@use '../utilites/spacing.scss' as spacing;
@use '../config/colors.scss' as colors;
@use '../config/layout.scss' as layout;

$color-banner: #00E09C;
$color-banner-light: #49ffc8;
$color-banner-lighter: #e7fff8;
$color-banner-dark: #008059;

$icon-size: 32px;

.c-banner {
    @include mixin-card.e-card;
    background-color: $color-banner-lighter;
    border-top: 3px solid $color-banner-dark;
    padding: spacing.spacing('small') spacing.spacing('extra-wide');
    position: relative;
}

.c-banner__title{
    font-weight: normal;
    color: colors.$color-title-subdued;
}

.c-banner__desc{
    font-size: 14px;
}

.c-banner__action{
    color: colors.$color-title-subdued;
    border-color: colors.$color-title-subdued;
}

.c-banner__icon,
.c-banner__close{
    position: absolute;
    top: spacing.spacing('small');
}

.c-banner__icon{
    right: spacing.spacing('normal');
    color: $color-banner-dark;
    background-color: $color-banner-light;
    border-radius: 50%;
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    text-align: center;
}

.c-banner__close{
    left: spacing.spacing('normal');
    color: colors.$color-red;
    transition: 0.2s ease;
    cursor: pointer;
    
    &:hover{
        color: color.adjust(colors.$color-red, $lightness: -5%);
    }
}

.c-banner > *{
    transform: opacity 200ms ease;
}
.c-banner{
    transition: transform 400ms ease-in-out 300ms;
}

.c-banner.collabse > *{
    opacity: 0;
}
.c-banner.collabse{
    transform: scaleY(0);
    transform-origin: 50% 0;
}

@media (max-width: layout.$bp-phone-normal) {

    .c-banner {
        padding-left: spacing.spacing('small');
        padding-right: spacing.spacing('small');
    }

    .c-banner__icon {
        right: spacing.spacing('small');
    }
    .c-banner__close{
        left: spacing.spacing('small');
    }

    .c-banner__title{
        margin-left: spacing.spacing('wide');
        margin-right: spacing.spacing('wide');
    }


}