@use '../utilites/spacing.scss' as spacing;

.c-list{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: spacing.spacing('extra-small') spacing.spacing('small');
    box-shadow: 0 0 0 1px rgba(black, 0.05);
}

.c-list__media{
    height: 60px;
    margin-left: spacing.spacing('small');
    width: auto;
}

.c-list__data{
    flex-grow: 1;
    margin-left: spacing.spacing('small');
}

.c-list__actions{
    margin-right: 0;
    margin-left: spacing.spacing('small');
    text-align: left;
    opacity: 0;
    transition: all 200ms ease;
}

.c-list:hover .c-list__actions{
    opacity: 1;
}